:root {
    --color-alert-success: #039200;
    --color-alert-mid: #cc7a00;
    --color-alert-danger: #D20000;

    --g-background-05: #fafafa;
    --g-background-20: #CACBCC;
    --g-background-40: #aaabad;
    --g-background-60: #76777A;
    --g-background-80: #494C50;
    
    --color-black: #171A1F;

    --color-primary: #EDA900;
    --color-secondary: #FACC39;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-black);
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

h4 {
    font-size: medium;
}

p {
    font-size: small;
}
