body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
  border-bottom: #000 1px solid;
  box-shadow: #000 0px 2px 5px;
}

header nav .logo img{
  color: #000;
  width: 80%;
  height: auto;
}

header nav .nav-items {
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}

header nav .nav-items li {
  list-style: none;
  padding: 0 15px;
}

header nav .nav-items li a {
  color: #000;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

header nav .nav-items li a:hover {
  color: #695205;
}

header nav form {
  display: flex;
  align-items: center;
  margin-top: 15px;
  height: 40px;
  padding: 2px;
  background: #FACC39;
  min-width: 18% !important;
  border-radius: 2px;
  border-radius: 36px;
}

header nav form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #000;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}

header nav form button {
  padding: 0 15px;
  color: #000;
  font-size: 17px;
  background: none;
  border: none;
  border-radius: 2px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}



header nav .menu-icon,
header nav .cancel-icon,
header nav .search-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  display: none;
}

header nav .menu-icon span,
header nav .cancel-icon,
header nav .search-icon {
  display: none;
}

@media (max-width: 1245px) {
  header nav {
    padding: 0 50px;
  }
}

@media (max-width: 1140px) {
  header nav {
    padding: 0px;
  }

  header nav .logo {
    display: flex;
    justify-content: center;
  }

  header nav .logo img {
    width: 80%;
    height: auto;
  }


  header nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 0px 0 0px;
    text-align: center;
    background: #FACC39;
    display: inline-block;
    transition: all 0.3s ease;
  }

  header nav .nav-items.active {
    left: 0;
  }

  header nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }

  header nav .nav-items li a {
    font-size: 20px;
  }

  header nav form {
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }


  header nav form.active {
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }

  header nav form:before {
    position: absolute;
    content: '';
    top: -13px;
    right: 0;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #000;
    margin: -20px 0 0;
  }

  header nav form:after {
    position: absolute;
    content: '';
    height: 45px;
    padding: 2px;
    background: #FACC39;
    border-radius: 50px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  header nav .menu-icon {
    display: block;
  }

  header nav .search-icon,
  header nav .menu-icon span {
    display: block;
  }

  header nav .menu-icon span.hide,
  header nav .search-icon.hide {
    display: none;
  }

  header nav .cancel-icon.show {
    display: block;
    color: #000;
  }
}

@media (max-width: 980px) {
  header nav .menu-icon,
  header nav .cancel-icon,
  header nav .search-icon {
    margin: 0 20px;
  }

  header nav form {
    right: 30px;
  }
}

@media (max-width: 350px) {
  header nav .menu-icon,
  header nav .cancel-icon,
  header nav .search-icon {
    margin: 0 10px;
    font-size: 16px;
  }
}

/* FOOTER */

footer {
  color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .footer-content {
  background-color: #FACC39;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

footer .footer-section {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
  order: 2;
  text-align: center;
}

footer .footer-section:not(:first-child) {
  border-left: #000 1px solid;
}

footer .footer-section h3 {
  margin-top: 0;
}

footer .footer-nav {
  width: 30%;
  text-align: center;
  list-style: none;
  order: 1;
}

footer .footer-nav nav ul {
  display: block;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

footer .footer-nav a {
  text-decoration: none;
  color: #000;
  display: block;
  margin: 16px;
}

footer .footer-copyright {
  border-top: #000 1px solid;
  order: 4;
  text-align: center;
  width: 100%;
}

footer .footer-hours,
footer .footer-products,
footer .footer-about {
  order: 2;
  text-align: center;
  width: 30%;
}

@media (max-width: 768px) {
  .footer-section,
  .footer-hours,
  .footer-products,
  .footer-about {
    width: 45%;
  }
  
  .footer-copyright {
    order: 4;
  }
}

@media (max-width: 500px) {
  .footer-section,
  .footer-hours,
  .footer-products,
  .footer-about {
    width: 100%;
  }
}

/*Homepage*/


/* Sous-titre */
#sous-titre {
    font-size: 20px;
}

/* Boutons et liens */
.actions {
    margin-top: 2rem;
}

.btn, .liensInter {
    display: inline-block;
    margin-right: 1rem;
    text-decoration: none;
}

.btn {
    padding: 10px 20px;
    background-color: #ffcc00;
    border: none;
    cursor: pointer;
}

.liensInter {
    padding: 10px 20px;
    color: rgb(46, 44, 44);
    text-decoration: underline;
}

/* Titres H1 */
.titresH1 {
    font-weight: 600;
    font-size: 40px;
}

/* Container principal */
.background-container {
    display: block; /* Changé de flex à block */
    padding: 3rem;
    background-image: url('Vector\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    margin-right: 2rem;
}

.image-homepage{
    
}

#image-magasin {
    width: 700px;
    height: 500px;
    object-fit: contain;
    max-height: 50%;
    border-radius: 2%;
}

/* Container des produits */
.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ajuste pour 3 colonnes */
    gap: 1rem;
    margin-top: 2rem; /* Ajoute de l'espace au-dessus */
    padding: 0 1rem; /* Ajoute un padding horizontal si nécessaire */
}

/* Produit individuel */
.product {
    background-color: white;
    padding: 0.5rem; /* Réduit le padding pour rétrécir le cadre */
    margin: 0.5rem; /* Optionnel: ajoute une marge externe si nécessaire */
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Ajoute une ombre pour la profondeur */
    transition: 0.3s; /* Pour un effet de survol */
    max-width: 200px; /* Définit une largeur maximale pour les produits */
}

.product img {
    width: 100%; /* Assure que l'image prend la largeur complète du cadre */
    max-height: 150px; /* Définit une hauteur maximale pour les images */
    object-fit: contain; /* S'assure que l'image s'adapte bien sans être déformée */
    margin-bottom: 0.5rem; /* Ajoute un espace en dessous de l'image */
}

.product-description {
    text-align: center;
}

.product-description p {
    margin: 0.5rem 0; /* Réduit l'espace entre les paragraphes */
}

/* Bouton dans la description du produit */
.product .btn {
    padding: 5px 10px; /* Réduit le padding du bouton */
    font-size: 0.8rem; /* Réduit la taille du texte du bouton si nécessaire */
}


.product:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Effet de survol */
}
