
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*HEADER*/

header {
  background-color: #FAFAFA;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.header-gauche{
  display: flex;
  align-items: center;
  width: 30%;
}

.header-section{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
}
/*HEADER*/

/* FOOTER */
footer {
  color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-content {
  background-color: #FACC39;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.footer-section {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
  order: 2; 
  text-align: center;
}


.footer-section:not(:first-child) {
  border-left: #000 1px solid;
}

.footer-section h3 {
  margin-top: 0;
}

.footer-nav {
  width: 30%;
  text-align: center;
  list-style: none;
  order: 1; 
}

.footer-nav nav ul {
  display: block;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.footer-nav a {
  text-decoration: none;
  color: #000;
  display: block;
  margin: 16px;
}

.footer-copyright {
  border-top: #000 1px solid;
  order: 4; 
  text-align: center;
  width: 100%;
}

.footer-hours,
.footer-products,
.footer-about {
  order: 2; 
  text-align: center;
  width: 30%;
}

@media (max-width: 768px) {
  .footer-section,
  .footer-hours,
  .footer-products,
  .footer-about {
    width: 45%;
  }
  
  .footer-copyright {
    order: 4;
  }
}

@media (max-width: 500px) {
  .footer-section,
  .footer-hours,
  .footer-products,
  .footer-about {
    width: 100%;
  }
}
/* FOOTER */



